body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #b31b1b; /* Cardinal color */
    color: #fff;
    /*text-align: center;*/
    padding: 20px 0;
}

.main-header {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: "Playwrite GB S";
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.login-button {
    background-color: #fff;
    color: #b31b1b; /* Cardinal color */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;

    position: relative;
    right: 0px;
}

.login-button:hover {
    background-color: #e6e6e6;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.art-piece {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: calc(33% - 40px);
}

.art-piece img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.art-piece h2 {
    color: #b31b1b; /* Cardinal color */
    margin: 10px;
}

.art-piece p {
    margin: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.user-menu {
    display: flex;
    align-items: center;
    color: #fff;
}

.user-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.user-dropdown-options {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-dropdown-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-dropdown-options a:hover {
    background-color: #f1f1f1;
}

.user-dropdown:hover .user-dropdown-options {
    display: block;
}